{% extends "blog/base.html" %}
{% block content %}
    {% for post in object_list %}
<section class="my-5">

<div class="container">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 col-lg-12">

      <!-- Card -->
      <div class="card card-personal text-center">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title-->
          <a>
            <h4 class="card-title title-one">{{ post.title }}</h4>
          </a>
          <p class="card-meta">{{ post.datetime }}</p>
          <!-- Text -->
          <p class="card-text">{{ post.content }}</p>
          
        </div>
        <!-- Card content -->

      </div>
      <!-- Card -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>

</section>

    {% endfor %}

{% endblock %}

